<div class="container-fluid">
    <div class="row">
        <div class="12">
            <div class="table-responsive" id="department_table_container">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td class="w-10">Sıra No</td>
                            <td class="w-40">Adı</td>
                            <td class="w-25">Aktif</td>
                            <td class="w-25">Detaylar</td>
                        </tr>
                    </thead>
                    <tbody id="department_table_body"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(() => {
        var jwtToken = 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJVc2VybmFtZSI6IlRFU1QiLCJuYmYiOjE3MjEzMDA5MTUsImV4cCI6MTcyMTMwNjkxNSwiaXNzIjoiSXNzdWVySW5mb3JtYXRpb24iLCJhdWQiOiJBdWRpZW5jZUluZm9ybWF0aW9uIn0.366AJ8wWb34elcBkNyfOYWdDimkSpVp2ThUqbApHZu0';
        nsiHelper.Ajax("Department", "GET", null, { 'Authorization': jwtToken }, '/100/0',
            function (x, y, z) {
                if (x != undefined && (x.IsError != undefined && !x.IsError) && x.Data != undefined) {
                    var data = x.Data;
                    var html = '';
                    for (let index = 0; index < data.length; index++) {
                        var id = data[index].Id;
                        var name = data[index].Name;
                        var isActive = (data[index].IsActive
                            ? 'Evet'
                            : 'Hayır');

                        html += '<tr>';
                        html += '<td>' + id + '</td>';
                        html += '<td>' + name + '</td>';
                        html += '<td>' + isActive + '</td>';
                        html += '<td><a href="@Url.Action("Edit", "Department")/' + id + '">Detaylar<a/></td>';
                        html += '/<tr>';
                    }
                    $('#department_table_body').html(html);
                }
            },
            function (x, y, z) {
                if (x.responseJSON.IsError)
                    alert(x.responseJSON.Message);
            },
            function () {
                nsiHelper.ShowLoader($('#department_table_container'));
            },
            function () {
                nsiHelper.HideLoader($('#department_table_container'));
            },
            "application/json", true);
    });
</script>