<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="mb-2">
                <label for="txtUsername">Kullanıcı Adı</label>
                <input type="text" class="form-control" id="txtUsername" name="username" />
            </div>
            <div class="mb-4">
                <label for="txtPassword">Şifre</label>
                <input type="password" class="form-control" id="txtPassword" name="password" />
            </div>
            <div class="mb-4">
                <button type="button" class="btn btn-sm btn-primary w-100" id="btnLogin">Oturum Aç</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(() => {
        $('#btnLogin').click((e) => {

        });
    });
</script>